<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Home</title>
</head>
<body>
	<h1>My Recipes!</h1>
	<table>
		<thead>
			<tr>
				<th>Description</th>
				<th>PrepTime</th>
				<th>Servings</th>
				<th>Direction</th>
				<th>Difficulty</th>
				<th>Ingredients</th>
			</tr>
		</thead>
		<tbody>
		  <tr th:each="recipe : ${recipes}">
		      <td th:text="${recipe.description}"/>
              <td th:text="${recipe.prepTime}"/>
              <td th:text="${recipe.servings}"/>
              <td th:text="${recipe.direction}"/>
              <td th:text="${recipe.difficulty}"/>
              <td th:text="${recipe.ingredients}"/>		      
		  </tr>
		</tbody>
	</table>
</body>
</html>